.contact_container{
    margin-top: 50px;
    margin-bottom: 25px;
}

.contact_heading{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.contact_address_form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.address_container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}


.address_heading {
    display: flex;
    flex-direction: row;
}

.pin {
    margin-top: 15px;
    margin-right: 5px;
    font-size: 30px;
    color: #5a4c4c;
}

.address_body {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 15px;
    text-align: start;
}

.brands_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.brand {
    font-size: 22px;
    color: #5a4c4c;
    cursor: pointer;
}

.form {
    display: grid;
    margin-right: 80px;
    grid-template-columns: auto auto;
    width: 450px;
    gap: 30px 25px;
}

.name {
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.email {
    grid-column-start: 2;
    grid-column-end: 3;
    
}

.textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    border: none;
    background-color: #ac9488;
    opacity: 0.7;
    height: 100px;
    padding-left: 10px;
    padding-top: 5px;

    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.input_box {
    border: none;
    background-color: #ac9488;
    opacity: 0.7;
    height: 30px;
    padding-left: 10px;

    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.input_box:focus, .textarea:focus {
    outline: 0;
    border-top: 2px solid black;
}

.input_box::placeholder, .textarea::placeholder {
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.submit_btn {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100px;
    height: 30px;
    justify-self: end;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;

    border: none;
    background-color: #5a4c4c;
    opacity: 0.8;
    cursor: pointer;

    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;


}

.submit_btn:focus {
    border-top: 2px solid black;
}

.footer_closing {
    font-size: 13px;
}