.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading_container {
    display: flex;
    justify-content: center;
    border-bottom: 0.1px solid #cf9a78;
    width:100%;
}

.heading_container > .ownerName {
    width: 50px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0
}

.nav > .nav_item {
    list-style-type: none;
    margin-right: 75px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
} 

.nav_item > .nav_itemConnection {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 100%;
}

.nav_item > .nav_itemConnection:hover {
    text-decoration-line: underline;
    text-decoration-color: #ac9488;
}

@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .navExpanded {
        display: block;  
        left: 0;
        list-style: none;
        position: absolute;
        top: 160px;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 190px);
        background-color: #cf9a78;
        border-bottom: 0.5 solid #eee; 
        z-index: 999;
    }

    .nav_item {
        text-align: center;
        margin: 0;
    }

    .nav_item:hover{
        width: 100%;
        left: 0;
    }

    .nav_itemConnection {
        color: white;
        width: 100%;  
        padding: 1.5rem 0;  
    }

    .nav_itemConnection:hover {
        text-decoration-line: underline;
        text-decoration-color: black;
    }
}
